# Node modules
node_modules/
my-canvas-game/node_modules/
server/node_modules/

# Build output
dist/
my-canvas-game/dist/
server/dist/

# IDE and OS files
.vscode/
.idea/
*.DS_Store
*.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
